---
import Layout from "../../layouts/Layout.astro";
import slug from "slug";

const personnes = await Astro.locals.pb.collection("personne").getFullList();
const isLoggedIn = Astro.locals.pb.authStore.isValid;
---

<Layout pageTitle="Personnalités">
  <div>
    <h1>Hey Personnes</h1>
    { 
    Astro.locals.pb.authStore.isValid &&
    <a href="/personnes/edit/">Ajouter une nouvelle personne</a>
    }
  </div>

  <ul>
    {personnes.map((personne) => (
      <li>
        <div>
          <a
           
            href={`/personnes/${personne.id}-${slug(personne.nom || "personne")}`}
          >
            {personne.prenom ? `${personne.prenom} ${personne.nom ?? ""}`.trim() : personne.nom || "Personne"}
          </a>
          <p>
            {personne.profession?.join(", ") || "Profession non specifiee"}
          </p>
        </div>
        {isLoggedIn && (
          <a
           
            href={`/personnes/edit/${personne.id}-${slug(personne.nom || "personne")}`}
          >
            Editer
          </a>
        )}
      </li>
    ))}
  </ul>
</Layout>

