---
import Layout from "../../layouts/Layout.astro";
import slug from "slug";

const personnes = await Astro.locals.pb.collection("Personne").getFullList();
const isLoggedIn = Astro.locals.pb.authStore.isValid;
---

<Layout pageTitle="Personnes - PocketBase Cinema">
  <div>
    <h1>Personnes</h1>
    {isLoggedIn && (
      <a href="/personnes/edit/new-nouvelle">
        Ajouter une personne
      </a>
    )}
  </div>

  <ul>
    {personnes.map((personne) => (
      <li>
        <div>
          <a
           
            href={`/personnes/${personne.id}-${slug(personne.nom || "personne")}`}
          >
            {personne.prenom ? `${personne.prenom} ${personne.nom ?? ""}`.trim() : personne.nom || "Personne"}
          </a>
          <p>
            {personne.proffession?.join(", ") || "Profession non specifiee"}
          </p>
        </div>
        {isLoggedIn && (
          <a
           
            href={`/personnes/edit/${personne.id}-${slug(personne.nom || "personne")}`}
          >
            Editer
          </a>
        )}
      </li>
    ))}
  </ul>
</Layout>

