---
import Layout from "../layouts/Layout.astro";

export const prerender = false;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  if (data.has("deconnexion")) {
    Astro.locals.pb.authStore.clear();
    Astro.response.headers.append(
      "set-cookie",
      Astro.locals.pb.authStore.exportToCookie()
    );
  }
  try {
    const email = data.get("email") as string;
    const password = data.get("password") as string;
    await Astro.locals.pb.collection("users").authWithPassword(email, password);
    Astro.response.headers.append(
      "set-cookie",
      Astro.locals.pb.authStore.exportToCookie()
    );
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout pageTitle="Connexion - PocketBase Cinema">
  <h1>Connexion</h1>

  {Astro.locals.pb.authStore.isValid ? (
    <div>
      <p>Vous etes connecte.</p>
      <form method="post">
        <input type="hidden" value="1" name="deconnexion" />
        <button>
          Se deconnecter
        </button>
      </form>
    </div>
  ) : (
    <form method="post">
      <label>
        Email
        <input
          type="email"
          name="email"
          autocomplete="email"
        />
      </label>
      <label>
        Mot de passe
        <input
          type="password"
          name="password"
          minlength="5"
          autocomplete="current-password"
        />
      </label>
      <button>
        Se connecter
      </button>
    </form>
  )}
</Layout>

